@font-face {
    font-family: 'EF_MACHO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_MACHO.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 * {
    box-sizing: border-box;
    text-decoration: none;
    color: #1f2d3d;
    list-style: none;
    
 }

 html {
     font-size: 16px;
     line-height: 1.5;
     color: #1f2d3d;
 }
 body {
    font-family: 'EF_MACHO';
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100vh;
     margin: 0 auto;
     background-color: #daf2f5;
 }
header{
    border: 10px double;
    border-color: cornflowerblue;
    background-color: azure;
    border-radius: 20px;
    overflow: auto;
}
h1 {
    display: block;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
}

.summary {
    display: block;
    text-align: center;
    padding: 20px 100px;
    background-color:lightblue;
}

.searchAndSumit {
    display: block;
    text-align: center;
    background-color: lightblue;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
}

#search {
    width: 300px;
    height: 30px;
}
#submit{
    font-family: 'EF_MACHO';
    width: 100px; /*80px로 하면 버튼내의 텍스트가 밀려서 100px로 수정함. */
    height: 30px;
}

#resultHeading{
    font-family: 'ImcreSoojin';
}

#mealsEl{
    font-family: 'ImcreSoojin';
}

#single-mealEl{
    font-family: 'ImcreSoojin';
}
footer {
    display: block;


}

